<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAG 연습</title>
</head>
<body>
    <ul>
        <li>시맨틱 태그 : 레이아웃을 구성하는 html태그</li>
        <li>self close 태그 : 닫는 태그 없이 자체 닫기된다</li>
    </ul>
    <hr>

    <h1>Hello World</h1>
    <h2>Hello World</h2>
    <h3>Hello World</h3>
    <h4>Hello World</h4>
    <h5>Hello World</h5>
    <h6>Hello World</h6>
    <hr>

    <h2> 👉 p </h2>
    <p> p는 문장을 표현하는 태그 <br/> br/ 은 줄바꿈, self close 태그 </p>
    <hr>

    <h2> 👉 a </h2>
    <a href="/hello1" target="_blank">hello1로 가기</a>
    <hr>

    <h2> 👉 string </h2>
    <p> string은 <strong>문장의 일부를 강조</strong>하는 용도</p>
    <hr>

    <h2> 👉 table </h2>
    <table border="1" cellpadding="10" cellspacing="0">
        <!--row-->
        <tr>
            <!--column-->
            <td>data1</td>
            <td>data2</td>
            <td>data3</td>
        </tr>
        <tr>
            <td>data1</td>
            <td>data2</td>
            <td>data3</td>
        </tr>
        <tr>
            <td>data1</td>
            <td>data2</td>
            <td>data3</td>
        </tr>
    </table>
</body>
</html>











